body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    background:burlywood;
    
    /*background: 
    
    linear-gradient(45deg, rgb(100, 100, 184), transparent),
    repeating-linear-gradient(45deg, rgb(145, 86, 86) 0%, white 5%, transparent 5%, transparent 5%);*/

    /*background: repeating-linear-gradient( rgb(109, 109, 214), brown, white);*/
}

header {
    background-image: linear-gradient(to bottom, transparent 75%, white 100%), linear-gradient(-45deg, transparent 20%, rgba(0,0,0,0.8) 100%), url("imagens/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));*/
}

header h1 {
    margin: 0;
    color: white;
    font-weight: 900;
    font-size: 48px;
    font-family: "Orbitron", sans-serif;
    padding: 15px;
}

nav {
    background: white;
    padding: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

main {
    display: grid;
    align-items: center;
    grid-gap: 25px;
    grid-template-columns: auto;
    width: auto;
    padding: 20px;
}

main table {
    width: 100%;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

}

main tr,th,td {padding: 8px;}
main tr:nth-child(even) {background: #CCC}
main tr:nth-child(odd) {background: #FFF}

aside {
    margin: 20px;
    
}

.card {
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.festival-card {
    display: grid;
    align-items: center;
    grid-gap: 20px;
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
    font-weight: normal;
    margin: 20px 0px 0px 0px;
}

.festival-card img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    grid-row-start: 1;
    grid-row-end: 4;
}

.visit-button {
    width: max-content;
    text-align: center;
    background-color: peru;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    border:none;
}

.visit-button:hover {
    background-color: rgb(163, 95, 50);
}

.contacts {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 25px;
}

figure {
    margin: 0;
    padding: 0;
}

figure figcaption, details {
    font-size: small;
}

figure a {
    color: rgb(163, 95, 50);
}

.short-field {
    max-width: 320px;
}

.long-field {
    width: 100%;
    max-width: 100%;
}

textarea {
  resize: none;
}

iframe, img {
    max-width: 100%;
}

header, nav {
	grid-column-start: 1;
	grid-column-end: 3;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: large;
    text-align: center;
}

nav > a {
    text-decoration: none;
}

.menu-selected {
    font-weight: bold;
}


nav > a:link {
    color:rgb(133, 72, 30);
    font-family: "Bebas Neue", sans-serif;
}



nav > a:visited {
    color:rgb(122, 64, 24);
}


nav > a:hover {
    /*color:rgb(133, 50, 17);*/

    background: linear-gradient(270deg, #f5d557, #772504);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: text-gradient 1s ease infinite;
}

@keyframes text-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

nav > a:active {
    color:black;
}

footer {
    font-family: "Roboto", sans-serif;
    height: 30px;
    background:burlywood;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

@media only screen and (min-width: 601px)  {
    nav {
        font-size: x-large;
    }

    header h1 {
        font-size: 56px;
        padding: 25px;
    }

    .festival-card img {
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }
}

@media only screen and (min-width: 769px) {
    nav {
        font-size: xx-large;
    }

    header h1 {
        font-size: 72px;
        padding: 35px;        
    }

    .festival-card {
        grid-template-columns: 180px auto;
    }

    .festival-card img {
        width: 180px;
        height: 180px;
        border-radius: 100%;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    body {
        display: grid;
        grid-template-columns: 320px auto;
    }

    header {
        min-height: 480px;
    }

    header, nav {
        grid-column-start: 1;
        grid-column-end: 3;
    }    

    aside {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    
    main {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    
    footer {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }
}

caption {
    text-align: left;
    padding: 10px;
}

aside img{
    width: 200px;
    height: 140px;   
}

@keyframes aside-img-hover {
    0%   {scale: 1; transform: rotate(0deg);}
    25%  {scale: 1.1; transform: rotate(5deg);}
    50% {scale: 1; transform: rotate(0deg);}
    75% {scale: 1.1; transform: rotate(-5deg);}
    100% {scale: 1; transform: rotate(0deg);}
  }

aside img:hover {
    animation-name: aside-img-hover;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

aside section{
    margin-bottom: 20px;
}

aside .visit-button{
    font-size: 15px;
}


	